# Created by .ignore support plugin (hsz.mobi)
### SublimeText template
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json


### Eclipse template
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### SVN template
.svn/


### Java template
*.class

# Coverity
.java-version
cov-int/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Lilypond template
*.pdf
*.ps
*.midi
*.mid
*.log
*~
render/
target/

.vagrant/

.idea/workspace.xml

.idea/vcs.xml

.idea/modules.xml

.idea/misc.xml

.idea/findbugs-idea.xml

.idea/copyright/profiles_settings.xml

.idea/compiler.xml

.idea/chordelia.iml

.idea/.name

*.idea/*

*.iml
