[project]
	description = Tool for modern classical composers, creates chord material.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karsten Gresch (karstengresch)
[access "refs/for/refs/*"]
	read = group user/Karsten Gresch (karstengresch)
	push = group user/Karsten Gresch (karstengresch)
	label-Code-Review = -2..+2 group user/Karsten Gresch (karstengresch)
	label-Verified = -1..+1 group user/Karsten Gresch (karstengresch)
	rebase = group user/Karsten Gresch (karstengresch)
	removeReviewer = group user/Karsten Gresch (karstengresch)
	submit = group user/Karsten Gresch (karstengresch)
[access "refs/heads/*"]
	read = group user/Karsten Gresch (karstengresch)
	create = group user/Karsten Gresch (karstengresch)
	push = +force group user/Karsten Gresch (karstengresch)
	pushMerge = group user/Karsten Gresch (karstengresch)
[access "refs/tags/*"]
	push = +force group user/Karsten Gresch (karstengresch)
	pushTag = group user/Karsten Gresch (karstengresch)
	pushSignedTag = group user/Karsten Gresch (karstengresch)
