<?xml version="1.0" encoding="utf-8" ?>


<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"  >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%t] %-5p %C{1} : %m%n"/>
    </layout>
  </appender>
  <appender name="NULL" class="org.apache.log4j.varia.NullAppender"/>
  <logger name="org.jbpm" additivity="true">
    <level value="DEBUG"/>
  </logger>
  <!--  Hibernate debugging levels and their output -->
  <logger name="org.hibernate" additivity="true">
    <level value="DEBUG"/>
  </logger>

  <!-- hide optimistic locking failures -->
  <logger name="org.hibernate.event.def.AbstractFlushingEventListener"
          additivity="true">
    <level value="FATAL"/>
  </logger>


  <!-- Log all JDBC parameters -->
  <logger name="org.hibernate.type" additivity="true">
    <level value="INFO"/>
  </logger>

  <!-- Log all SQL DML statements as they are executed -->
  <logger name="org.hibernate.SQL" additivity="true">
    <level value="INFO"/>
  </logger>


  <!-- Set root logger level to DEBUG and its only appender to CONSOLE. -->
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="CONSOLE"/>
  </root>
</log4j:configuration>